
 <div class="container p-0 mt-5 mb-5">
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <i class="bi bi-heart-fill"></i>
        <img src="https://images-na.ssl-images-amazon.com/images/I/41mQtYQUzmL.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">HP Pavilion Gaming 10th Gen Intel Core i5 Processor</h5>
          <h4 class="card-text text-danger">₹ 48,000</h4>
          <button type="button" class="btn btn-outline-primary">Add to cart</button>
        </div>
      </div>
    </div>

  </div>
</div>
